.slider-container {
  display: flex;
  gap: 1rem;

  position: relative;
}

.slider-image-container {
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.slider-image-container img {
  border-radius: 12px;
}
