.registrationUserNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-top: 2.4rem;
}

.registrationUserNameContainer h1 {
  color: #000;
  text-align: center;

  /* Text/Naslov */
  font-family: "Rethink Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 116.667% */
}

.registrationUserNameContainer p {
  color: #000;
  text-align: center;

  /* Text/Copy */
  font-family: "Rethink Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 150% */
}

.registrationButton {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 0.8rem 0;
  border-radius: 0.5rem;
  background-color: #f3bc4d;
  color: white;
  border: none;
}

.userNameInput {
  width: 85%;
  margin-top: 1.4rem;
  padding: 0.8rem 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #c5c5c5;
  font-family: "Rethink Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
}

.errorInput {
  border-color: red;
}
