@font-face {
  font-family: "Rethink Sans";
  src: url("./assets/fonts/RethinkSans-VariableFont_wght.ttf");
}

body {
  background-color: #fffcf8;
  font-family: Rethink Sans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
