.logOffPopupContainer {
  border-radius: 1rem 1rem 0rem 0rem;
  background: var(--White, #fffcf8);
  width: 88%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3.5rem 1.5rem;
  transition: height 0.5s;
}

.logOffPopupContainer h2 {
  color: var(--Crna, #121b28);
  text-align: center;

  /* Text/Naslov */
  font-family: "Rethink Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 116.667% */
  margin-bottom: 5rem;
}

.noButton {
  padding: 0.75rem 0;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--Zelena, #42b981);
  background: var(--White, #fffcf8);
  margin-bottom: 1rem;
  font-family: "Rethink Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 116.667% */
  color: #42b981;
}

.yesButton {
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  background: var(--Zelena, #42b981);
  border: none;
  font-family: "Rethink Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 116.667% */
  color: #fffcf8;
}
