.btns-container {
  border-radius: 12px;
  background: var(--yellow-color);
  height: 49px;
  margin-top: 55px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & > h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: var(--white-color);
    z-index: 2;
    margin: 0;
  }
}

.left-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: var(--red-color);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
